*{
    font-family: 'Lato', 'sans-serif';
}



.primary-color{
    background-color: #0083DD;
}
.icon-color{
    color: #FFFFFF;
}

/* NAVBAR */
.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
    color: #FFFFFF;
 }

 #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin:  0 0.1em;
}

.text-nav{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.0em;
    margin-left: 0.5em;
}

.area-text{
    background-color: #FFFFFF;
}

/* SECTION HOME */

.home{
    background-color: #0083DD ;
    padding: 30px;
    
}

.img-home {
   width: 30rem;
   margin-inline-start: 50px;
}

.text-spn span{
    background-color: #0BE0EE;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.0em;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    
}

.text-h{
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
}

.bt-curso{
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icone{
    padding: 10px;
    display: flex;
    margin-top: 2.5%;
    
}

/* CATEGORIAS */

.categorias-container{
    padding: 70px 15PX;
    margin-bottom: 50px;
    margin-block-start: 50px;
    border-bottom: 1px solid #7a7a7a
    
}

.mgbt{
    margin-bottom: 50px;
}


.categorias-container p{
    color: #0083DD;
    font-weight: 700;
    font-family: 'Lato', 'sans-serif';
    font-size: 20px;
}

.categorias-container h2{
    font-family: 'Lato', 'sans-serif';
    font-size: 40px;
    font-weight: bold;
}



.area-img{
    width: 150px;
    height: 150px;
    background: url('../img/default-img.jpg');
    border-radius: 70px;
}

.area-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.text{
    font-size: 14px;
    color: #0083DD;
}

.card-area{
    margin: 15px;
}

/* Carousel Card Teste */


.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.text-header-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

}

.text-header-card p{
  color: #0083DD;
  font-weight: 600;
  font-size: 20px;
}

.text-header-card{
  font-size: 40px;
  
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0083DD;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #0083DD;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #0083DD;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #0083DD;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #0083DD;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #0083DD;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #0083DD;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0083DD ;
    padding: 30px;
    
  }

  .img-home {
    display: none;
  }

  
}




