*{
    font-family: 'Lato', 'sans-serif';
}



.primary-color{
    background-color: #0083DD;
}
.icon-color{
    color: #FFFFFF;
}

/* NAVBAR */
.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
    color: #FFFFFF;
 }

 #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin:  0 0.1em;
}

.text-nav{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.0em;
    margin-left: 0.5em;
}

.area-text{
    background-color: #FFFFFF;
}

/* SECTION HOME */

.home{
    background-color: #0083DD ;
    padding: 30px;
    
}

.img-home {
   width: 30rem;
   margin-inline-start: 50px;
}

.text-spn span{
    background-color: #0BE0EE;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.0em;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    
}

.text-h{
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
}

.bt-curso{
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icone{
    padding: 10px;
    display: flex;
    margin-top: 2.5%;
    
}

/* CATEGORIAS */

.categorias-container{
    padding: 70px 15PX;
    
}


.categorias-container p{
    color: #0083DD;
    font-weight: 700;
    font-family: 'Lato', 'sans-serif';
    font-size: 20px;
}

.categorias-container h2{
    font-family: 'Lato', 'sans-serif';
    font-size: 40px;
    font-weight: bold;
}



.area-img{
    width: 150px;
    height: 150px;
    background: url('../img/default-img.jpg');
    border-radius: 70px;
}

.area-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.text{
    font-size: 14px;
    color: #0083DD;
}

.card-area{
    margin: 15px;
}




